### Local ###
#/lib/

### NPM ###
node_modules/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
.nb-gradle/
/nbproject/
/nbbuild/
/nbdist/
/dist/
/build/

# The packages folder can be ignored because of Package Restore
**/packages/*

# ignore all *.lock.json files
#*lock.json

# except build/, which is used as an MSBuild target.
!**/packages/build/
!modules/ffmpeg/**/*
modules/ffmpeg/lib/ffmpeg/bin/*

### VS Code ###
.vscode/

# Visual Studio 2015/2017 cache/options directory
.vs/

### Mac OS ###
.DS_Store
